<% permalink = config.url + config.root + post.path %>
<section id="intro">
    <div class="container">
        <div class="row col-md-offset-2">
            <div class="col-md-8">
    			<%- partial('post/meta') %>
                <h1 style="margin-top: 0!important"><%- post.title %></h1>
            </div>
        </div>
        <div class="col-md-12">
                <%- toc(page.content, {
                    class: 'post-toc',
                    list_number: true
                }) %>
            

      		<%- post.content %>
            <div class="clearfix"></div>
            <hr class="nogutter">
        </div>
        <%- partial('post/navigation') %>
        <div class="col-md-10 col-sm-24"><%- partial('post/comments') %></div>
    </div>
</section>
